<div class = "banner">
  <h1> <%= @list.name %></h1>
  <div class="banner-buttons">
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: "btn btn-secondary addbookmark-button-addons" %>
    <%= link_to "My Lists🍿", lists_path, class: "btn btn-secondary back-button-addons"%>
  </div>
  <video class="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="<%= video_path "main_banner.mp4" %>" type="video/mp4">
  </video>
</div>

<div class="container">
  <div class="row row-cols-2">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card col m-2" style="width: 35rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title"><%= bookmark.movie.title %></h2>
          <h5>⭐<%= bookmark.movie.rating %></h5>
          <p><%= bookmark.movie.overview %></p>
          <p class="card-text"><%= bookmark.comment %> ❞</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
